<html>
	<head>
		<style type="text/css">
			table th {
				border:solid 1px black;
			}
			table tr {
				border:solid 1px black;
			}
			table td {
				border:solid 1px black;
			}
		</style>
	</head>
  <body>
	{% if isAuthorized %}
		<table cellspacing="0px">
			<tr>
				<th>Name</th>
				<th>Token</th>
				<th>Created</th>
			</tr>
			{% if sessions %}
			    {% for session in sessions %}
					<tr>
						<td>{{ session.name }}</td>
						<td>{{ session.token }}</td>
						<td>{{ session.created }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	{% else %}
		<p>Unauthorized</p>
	{% endif %}
	<p><a href="{{ logoutUrl }}">Logout</a></p>
  </body>
</html>