{% extends "inner_part.html" %}
	
	{% block content %}
		<br/>
		<form method="get" action="/crashlogs">
			<select name="app_id"> 
				<option value="" {% if not selected %} selected {% endif %}>All applications</option>
				{% for app in applications %}
			  		<option value="{{ app.key() }}" {% if app.key() ==  selected %} selected {% endif %}>{{ app.name }}</option>
			  	{% endfor %}
			</select>
		    <input type="submit" value="Filter">
		</form>
		<br/>
		{% if cursor %}<a href="/crashlogs?cursor={{ cursor }}">Next Page</a>{% endif %}
		<table cellspacing="0px">
			<tr>
				<th>Build</th>
 				<th>Device</th>
				<th>User</th>
				<th>Error</th>
				<th>Created</th>
			</tr>
 		{% if crashlogs %}
			{% for crashlog in crashlogs %}
				<tr>
					<td>{{ crashlog.build }}</td>
 					<td>{{ crashlog.device }}</td>
					<td>{{ crashlog.user }}</td>
					<td>{{ crashlog.error }} <a href="/crashlogs?id={{ crashlog.key() }}"> Crash Log </a></td>
					<td>{{ crashlog.created }}</td>
				</tr>
			{% endfor %}
 		{% endif %}
		</table>
			
	
	{% endblock %}