{% extends "inner_part.html" %}
	
	{% block crashlogs_active %}active{% endblock %}

	{% block select %}
		<ul class="nav" style="margin-left:50px">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{{ app_name }}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/crashlogs">All applications</a>
					</li>
					{% for app in applications %}
						<li>
							<a href="?app_id={{ app.key() }}">{{ app.name }}</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	{% endblock %}

	{% block content %}
		<ul class="pager ">
			<li {% if not previous %} class="disabled" {% endif %}>
	    		<a 
	    			{% if previous %}
	    				href="/crashlogs?previous={{ previous }}{% if selected %}&app_id={{ selected }}{% endif %}"
	    			{% else %}
	    				href="#"
	    			{% endif %}
	    			>&larr; Newer</a>
			</li>
			<li {% if not next %} class="disabled" {% endif %}>
    			<a 
	    			{% if next %}
	    				href="/crashlogs?next={{ next }}{% if selected %}&app_id={{ selected }}{% endif %}"
	    			{% else %}
	    				href="#"
	    			{% endif %}
	    			>Older &rarr;</a>
	    	</li>
		</ul>

		<table cellspacing="0px" class="table table-bordered table-striped table-hover">
			<tr>
				<th>Build</th>
 				<th>Device</th>
				<th>User</th>
				<th>Error</th>
				<th>Created</th>
			</tr>
 		{% if entities %}
			{% for crashlog in entities %}
				<tr>
					<td>{{ crashlog.build }}</td>
 					<td>{{ crashlog.device }}</td>
					<td>{{ crashlog.user }}</td>
					<td>{{ crashlog.error }} <a href="/crashlogs?id={{ crashlog.key() }}"> Crash Log </a></td>
					<td>{{ crashlog.created }}</td>
				</tr>
			{% endfor %}
 		{% endif %}
		</table>
			
	
	{% endblock %}